@using MVCCrud.Models
@model CustomHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomeHelper</title>
</head>
<body>
    <div> 
     @Html.Image("https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-600w-721703848.jpg", "hello")
    </div>
    @Html.File("fieupload")
    
</body>
</html>
